* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --button-before: #387ED1;
    --button-after: #222222;
    --font-bold: #3E4D71;
    --font-normal: #9D7775;
}

.navbar {
    width: 100vw;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    padding: 20px 100px 30px 100px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-logo img {
    width: 140px;
}

.nav-items ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 2rem;
}
.nav-items ul li a {
    text-decoration: none;
}

.hero {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
margin-top: 20px;
}
.hero-img img {
    width: 60vw;
}
.hero-heading {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
}

.hero-heading h2 {
    font-size: 3rem;
}

.hero-btn button{
    width: 160px;
    height: 40px;
    background-color: var(--button-before, blue);
    color: white;
    text-decoration: none;
    margin-top: 20px;
}

.stock {
    display: flex;
    gap: 2rem;
    justify-content: center;
    /* justify-content: flex-start; */
    margin-top: 3rem;
}

.stock-broker{
   display: flex;
   flex-direction: column;
   gap: 4rem;
   justify-content: center;
   /* align-items: center; */
}

.stock-head{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.stock-feat{
    display: flex;
    gap: 3rem;
    justify-content: start;
}

.stock-ads img{
width: 70%;
}